@charset "UTF-8";
/* CSS Document */
body {background-color: #fff;}

a:link {text-decoration: none;}

a:hover {color: #4688c5;}

nav a:link {
	color: #484848 !important;
}
nav a:hover{
	color: #4688c5;} 
nav a:visited {
	color: #484848 !important;
}

.page {width: 1000px; margin: auto;}

/*.maketable {display:table-row;}*/

.header {background-color: #000;
vertical-align:middle;
text-align: center; 
position: fixed;
left: 0;
top:0;
z-index:300;
padding-top:7px;
padding-bottom:10px;
border-bottom: 6px solid #999;
}

.header img
{margin: auto;
display: table-cell;
height: 60px;
width: 127px;
}

.menuback {
background: rgba(193,216,225,1);
background: -moz-linear-gradient(left, rgba(193,216,225,1) 0%, rgba(220,241,254,1) 0%, rgba(223,232,236,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(193,216,225,1)), color-stop(0%, rgba(220,241,254,1)), color-stop(100%, rgba(223,232,236,1)));
background: -webkit-linear-gradient(left, rgba(193,216,225,1) 0%, rgba(220,241,254,1) 0%, rgba(223,232,236,1) 100%);
background: -o-linear-gradient(left, rgba(193,216,225,1) 0%, rgba(220,241,254,1) 0%, rgba(223,232,236,1) 100%);
background: -ms-linear-gradient(left, rgba(193,216,225,1) 0%, rgba(220,241,254,1) 0%, rgba(223,232,236,1) 100%);
background: linear-gradient(to right, rgba(193,216,225,1) 0%, rgba(220,241,254,1) 0%, rgba(223,232,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1d8e1', endColorstr='#dfe8ec', GradientType=1 );
padding: 0;
width: 120px;
overflow: hidden;
height: 100%;
position: fixed;
top: 80px;
left: -165px;
z-index: 200;
opacity: .9;

}

nav{
display: inline-table;
padding-top: 0px;
vertical-align: middle;
}
	

.menuback nav ul {
	list-style-position: inside;
	list-style-type: none;
	text-align: right;
	padding-right: 0.7em;
	font-size: 1.2em;
	font-family: "Gill Sans", sans-serif;
	text-transform: uppercase;
	line-height: 1.1;
	letter-spacing: .07em;
	font-weight: 300;
	padding-left: 20px;
}
.menuback nav ul li {
	margin-bottom: .75em;
}

.main-text-block p, .main-text-block li{
	text-align: left;
	font-size: .9em;}
	
.main-text-block h2 {
	font-size: 1.3em;
	font-family: "Gill Sans", sans-serif;
	color: #337AB7;
	font-weight: 400;
	padding:10px 0 .12em 0;
	margin: 0;
}

.main-text-block p:first-child {margin-top: 70px;}

.main_content {padding: 0 15px 200px 15px;
top:80px;
}



.subfooter {
	background-color: #222;
	overflow: hidden;
	z-index: 300;
	background-color: #222;
position: fixed;
left: 0;
bottom: 0;
opacity: .95;
padding: 0;
width: 100%;
}

/*.sock .col-md-5 { padding-top: 3em;
}
*/

.maininfo {display:table-cell;
position:relative;
float:right;
padding-top:10px;
}



.hour, .emergency {
float: right;
color: #666;
text-align: right;
display:inline-block;
/*margin-right: 15px;*/}
	
.hour p, .emergency p {
	font-size: .9em;
	display:none;}
/*.mission {margin-top: 10px;
width: 100%;
padding: 2.6em;}*/
	

	
.hour h3, .emergency h3 {
font-size: .9em;
text-align: right;
color: #4688C5;
margin: 0;
}

.container-fluid {
max-width: 1000px;
}
header .item {
	height: 60px;
	width: 127px;}
 
footer {
	background-color: #484848;
	padding: 5px 0;
	width: 100%;
	margin: 0;
display:none;
	}

.address p {
	margin: auto; text-align: center;font-size:.8em; color: #999; font-weight:400; letter-spacing: .01em; line-height: 1.25; display: in-line:block; vertical-align: middle;}
	
footer .address {	}
	
	
footer p {}	
	
footer .copyright {font-size: .75em;
margin-top: -8px;
padding: 0;
letter-spacing: .01em;}

footer .copyright a {color: #bbb;}

.main_title h1 {font-size: 1.2em;
font-family: "Gill Sans", sans-serif;
text-transform: uppercase;
letter-spacing: .07em;
font-weight: 300;
color: #acb7c8;
text-align: right;
}

.subpages h4 {font-size: 1em;
/* font-family: "Gill Sans", sans-serif; */
font-weight: 300;
color: #333;
margin-top: 0;
letter-spacing: .02em;
}

.main_title {float:right;
margin-top:0;
margin-right:-1em;}

.facebook {position: relative;
top:7px;
left: 1em;}

.hour h3 {
padding-top: 0;
padding-bottom: 5px;}

.emergency {padding-bottom: 0;/*- padding-left: 20px;*/}

.emergency .col-md-6, .hour .col-md-6 {
padding: 0;}


.toggle_tag {-webkit-border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;  
background-color: #c6d6dc; 
z-index:180;
padding-left:15px; 
top:100px; 
width: 80px;
left: 0;
position:fixed;
}

.toggle_tag p {margin:0;
font-size: .75em;}

.close_up {
font-size: 1em;
float: right;
padding: 12px;
margin: 0;
}

.call p, .find p {
	color: #4688C5;
	font-size: .8em;
	text-align:center;
	text-transform:uppercase;
	padding-top: 10px;
	
}

.facebook, .call, .find {
	width: 30%;
	display:inline-block;
	float: left;
	}
	
.glyphicon-map-marker, .glyphicon-earphone {
	font-size:24px;
color: #4688C5;
	}
	
.squiggle {/*margin:auto; width: 250px; padding-bottom: 25px;*/
/*height: 35px;*/
float: left;
position: relative;


}

/*.facebook img {vertical-align: top;}*/


.blue_box {
	-webkit-border-top-right-radius: 15px;
-moz-border-radius-topright: 15px;
border-top-right-radius: 15px;
background: rgba(136,158,170,1);
background: -moz-linear-gradient(-45deg, rgba(136,158,170,1) 0%, rgba(154,173,185,1) 7%, rgba(203,215,226,1) 26%, rgba(204,216,226,1) 29%, rgba(213,222,228,1) 59%, rgba(225,230,230,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(136,158,170,1)), color-stop(7%, rgba(154,173,185,1)), color-stop(26%, rgba(203,215,226,1)), color-stop(29%, rgba(204,216,226,1)), color-stop(59%, rgba(213,222,228,1)), color-stop(100%, rgba(225,230,230,1)));
background: -webkit-linear-gradient(-45deg, rgba(136,158,170,1) 0%, rgba(154,173,185,1) 7%, rgba(203,215,226,1) 26%, rgba(204,216,226,1) 29%, rgba(213,222,228,1) 59%, rgba(225,230,230,1) 100%);
background: -o-linear-gradient(-45deg, rgba(136,158,170,1) 0%, rgba(154,173,185,1) 7%, rgba(203,215,226,1) 26%, rgba(204,216,226,1) 29%, rgba(213,222,228,1) 59%, rgba(225,230,230,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(136,158,170,1) 0%, rgba(154,173,185,1) 7%, rgba(203,215,226,1) 26%, rgba(204,216,226,1) 29%, rgba(213,222,228,1) 59%, rgba(225,230,230,1) 100%);
background: linear-gradient(135deg, rgba(136,158,170,1) 0%, rgba(154,173,185,1) 7%, rgba(203,215,226,1) 26%, rgba(204,216,226,1) 29%, rgba(213,222,228,1) 59%, rgba(225,230,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#889eaa', endColorstr='#e1e6e6', GradientType=1 );
float:left;
margin-left: -15px;
margin-top: 20px;
opacity:.9;
padding-bottom:20px;
}

.blue_box .innerblue{margin-right: .1em;
padding: 15px 0;
margin-bottom: 15px;}


.main-text-inner {padding: 15px 10px 0 10px;}



.main-text-block .blue_box p {
	padding:0;
	margin-top: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.blue_box h2 {
	/*padding-left: 15px;*/
	padding-bottom: 5px;
	margin-bottom: 0;
	font-family: "Gill Sans", sans-serif;text-transform:uppercase;
	font-weight: 400;
	color: #333;
}

.mirror {
	position: relative;
	top: 20px;
	left: 220px;
	z-index: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

	
	
.services h3, .subpages h3 {
	font-size: 1em;
	line-height:1.4;
	margin-bottom: 0;
	margin-top:10px;}
	
	
.row .services {margin-right:0;
				margin-left:0;
				margin-bottom:50px;
				margin-top:25px;}
				

.stripeded {width:100%;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(left, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(49%, rgba(255,255,255,1)), color-stop(71%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 71%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
display: block;
padding: 3px 15px;
margin-bottom: 15px}

.stripeded h4 {margin-bottom:5px; margin-top:5px; font-weight:400; letter-spacing: .03em;}

.stripeded p{padding:.1em;}	
			
.stripeded a:link {color: #3379b7;}

.stripeded a:hover {color: #fff;}

.stripeded:hover {background: rgba(51,121,183,1);
background: -moz-linear-gradient(left, rgba(51,121,183,1) 49%, rgba(139,179,214,1) 71%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(49%, rgba(51,121,183,1)), color-stop(71%, rgba(139,179,214,1)), color-stop(100%, rgba(255,255,255,0)));
background: -webkit-linear-gradient(left, rgba(51,121,183,1) 49%, rgba(139,179,214,1) 71%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left, rgba(51,121,183,1) 49%, rgba(139,179,214,1) 71%, rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left, rgba(51,121,183,1) 49%, rgba(139,179,214,1) 71%, rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(51,121,183,1) 49%, rgba(139,179,214,1) 71%, rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3379b7', endColorstr='#ffffff', GradientType=1 );
color: #fff;
}

/*.staff {}

.faq {margin-top:2em;
background-color:#fff;
display: block;}
*/

.secondimage {float: right;
margin-right: -15px;
}
.subpages {display: block;
margin-top: 3.5em;
margin-bottom: 4em;}

.subpage p {margin:0;padding; 0;}

p.question {color: #333; font-weight:600; margin-bottom: 0;padding: 0:}

.main-text-block p.question:first-child {margin-top:1.5em;
}

.main-text-block .answer p:first-child {margin-top:0;
}


.answer {display:block; margin-left: 15px;}



.one .answer, .two .answer, .third .answer, .fourth .answer, .fifth .answer, .sixth .answer, .seventh .answer, .eighth .answer, .ninth .answer {display:none;}



em {font-weight:bold;}


.glyphicon-earphone, .glyphicon-map-marker {font-size: 14px;}

.previous, .next {
	width: 150px;
	padding:15px;
}

.previous {
	float:left;}
	
.next {float: right;}

.main-text-block .blue_box .main-text-inner .next p{ text-align:right;}

.indent {margin: 0 10px 0 25px;}

.more {color: #337AB7;
font-weight: 700;
font-family: 
"Gill Sans", sans-serif;
font-style: italic;}

.moretext {display: none;}
